{% extends 'base.html' %}
{% block contenido %}
{% load templatag_grupos %}
{% ifusergroup Configuraciones %}
<script>
$(document).ready(function(){
    var TUbch = $('#tab_categoria').dataTable({
        "iDisplayLength": 25,
        "iDisplayStart": 0,
        "sPaginationType": "full_numbers",
        "aLengthMenu": [25, 50, 75, 100],
        "oLanguage": {"sUrl": "/static/js/es.txt"},
        "aoColumns": [
            {"sClass": "registro center", "sWidth": "3%"},
            {"sClass": "registro center", "sWidth": "15%"},
            {"sWidth": "3%", "bSortable": false, "sClass": "center sorting_false", "bSearchable": false},
            {"sWidth": "3%", "bSortable": false, "sClass": "center sorting_false", "bSearchable": false},
        ]
    });
    $('#enviar').click(function(){
        url = '/configuraciones/tipo_eleccion/categorias/registrarcategoria'
        window.location = url
    })   

});
</script>
<div style="width:70%">

    <button role="button" class="btn btn-primary" style="font-weight: bold;font-size: 13px" id="enviar" >
        &nbsp;<span class="glyphicon glyphicon-plus"></span>&nbsp;Agregar Categoría
    </button>
    <br/>
    <br/>
    
    <table style="width:100%;" border="0" align="center" cellspacing="1" id="tab_categoria" align="center"
           class="table table-bordered table-striped table-hover table-condensed dt-responsive table-responsive" style="width:30%">
        <thead style="font-size: 13px">
            <tr class="info">
                <th style='text-align: center' colspan="4">Listado de Categorías</th>
            </tr>
            <tr class="info">
                <th style='text-align: center'>Ítem</th>
                <th style='text-align: center'>Categoría</th>
                <th style='text-align: center'>Editar</th>
                <th style='text-align: center'>Borrar</th>
            </tr>
        </thead>
        <tbody>    
            {% for m in listar_categoria %}
            <tr style="font-size: 13px" class="{% cycle 'impar' 'par' %}">
                <td>
                    {{ forloop.counter }}
                </td>
                <td>
                    {{m.categoria}}
                </td>
                <td style='text-align: center'>
                    <a href="{% url "editar_categoria" m.id %}"><img style="width:25px;height: 25px" src="{{ STATIC_URL }}img/edit.png"/></a>
                </td>
                <td style='text-align: center'>
                    <a href="{% url "borrar_categoria" m.id %}"><img style="width:25px;height: 25px" src="{{ STATIC_URL }}img/borrar.png"/></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p style="color: #FF0000; font-size: 18px">Disculpe No esta autorizado para esa área.</p>
{% endifusergroup %}
{% endblock %}