<!DOCTYPE html>
{% extends 'base.html' %}

{% block contenido %}
<html>
<head>
    <title>Modificar Centros</title>
</head>
<script type="text/javascript">
$(document).ready(function(){
    $('#id_cod_n').numeric(); //Valida solo valores tipo texto en descripción
    $('#nombre').alpha({allow:" -"}); //Solo permite numeros y estos caractes en el rago del grup
    $("#id_cod_estado,#id_cod_municipio,#id_cod_parroquia,#id_cod_sector").select2();

    $('#registrar').click(function(e){
	e.preventDefault();

	if (($('#id_poligonal').val() == '')) {
	    bootbox.alert('Disculpe, Debe Colocar el Nombre de la Poligonal', function() {	    
		$('#id_poligonal').parent('div').addClass('has-error');
	    });
	}
	else if($('#id_poligonal').val() == null ||  $('#id_poligonal').val().length == 0 || /^\s+$/.test($('#id_poligonal').val())) {
	    bootbox.alert('Disculpe, no esta registrando nada', function() {	    
		$('#id_poligonal').select2('open');
	    });
	}
	else {
	    $('#id_cod_parroquia,#id_cod_municipio,#id_cod_estado,#id_cod_sector,#id_cod_pol').prop('disabled',false);
	    $('form').submit();
	    $('#id_cod_parroquia,#id_cod_municipio,#id_cod_estado,#id_cod_sector,#id_cod_pol').prop('disabled',true);
        }
    });
    $('#volver').click(function(){
        url = '/configuraciones/topologia/poligonales/'
        window.location = url
    })
});

</script>
<body>
    {% load templatag_grupos %}
    {% ifusergroup Topologia %}
    
    
    <form method="post" id="id_form">
	{% csrf_token %}
    </br>
    </br>
   
	<div style="width: 95%" class="panel panel-primary">
            <div class="panel-heading">
		
              <label class="panel-title">Modificar Poligonal</h3>
            </div>
	    <br/>
	     <fieldset><legend class="titulo">Datos de la Poligonal</legend></fieldset>
            <br/>
	    <div class="form-inline">
		<div class="form-group col-xs-4">
		    <label>Estado:&nbsp;&nbsp;</label>
		    <select id="id_cod_estado" style="width: 70%" disabled="disabled" name="estado" class="form-control select2 input-sm">
			<option value="">-----------------------------</option>
			{% for e in list_estado %}
			    {% if e.cod_estado == obj_reg_pol.estado_id%}
				<option value='{{e.cod_estado}}' selected='selected'>{{ e.estado }}</option>
			    {% endif %}
			    {% if not e.cod_estado == obj_reg_pol.estado_id %}
				<option value='{{e.cod_estado}}'>{{ e.estado }}</option>
			    {% endif %}
			{% endfor %}
		    </select>
		</div>
		<div class="form-group col-xs-4">
		    <label>Municipio:&nbsp;&nbsp;</label>
		    <select id="id_cod_municipio" style="width: 70%" disabled="disabled" class="form-control select2 input-sm" name="municipio" >
			<option value="" selected="selected">----------------------------</option>
			{% for m in list_mun %}
			    {% if m.cod_municipio == obj_reg_pol.municipio%}
				<option value='{{m.cod_municipio}}' selected='selected'>{{m.municipio}}</option>
			    {% endif %}
			    {% if not m.cod_municipio == obj_reg_pol.municipio%}
				<option value='{{m.cod_municipio}}'>{{m.municipio}}</option>
			    {% endif %}
			{% endfor %}
		    </select>
		</div>
		<div class="form-group col-xs-4">
		    <label>Parroquia:&nbsp;&nbsp;</label>
		    <select id="id_cod_parroquia" name="parroquia" disabled="disabled" class="form-control select2 input-sm" style="width: 70%" >
			<option value="" selected="selected">---------------------</option>
			{% for p in list_par %}
			    {% if p.pk == obj_reg_pol.parroquia%}
				<option value='{{p.cod_parroquia}}' selected='selected'>{{p.parroquia}}</option>
			    {% endif %}
			    {% if not p.pk == obj_reg_pol.parroquia%}
				<option value='{{p.cod_parroquia}}'>{{p.parroquia}}</option>
			    {% endif %}
			{% endfor %}
		    </select>
		</div>
            </div>
	    <br/>
	    <br/>
	    <br/>
            <div class="form-inline">
		<div class="form-group col-xs-4">
		    <label>Sector:&nbsp;&nbsp;</label>
		    <select id="id_cod_sector" name="sector" disabled="disabled" class="form-control select2 input-sm" style="width: 75%" >
			<option value="0" selected="selected">---------------------</option>
			{% for s in list_sec %}
			    {% if s.cod_s == obj_reg_pol.sector %}
				<option value='{{s.cod_s}}' selected='selected'>{{s.sector}}</option>
			    {% endif %}
			    {% if not s.cod_s == obj_reg_pol.parroquia%}
				<option value='{{s.cod_s}}'>{{s.sector}}</option>
			    {% endif %}
			{% endfor %}
		    </select>
		</div>
		<div class="form-group col-xs-4">
		    <label>C&oacute;digo:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
		    <input type="text" id="id_cod_pol" style="width: 70%" disabled="disabled" value="{{obj_reg_pol.cod_pol }}" maxlength="2" name="cod_pol" />
		</div>
		<div class="form-group col-xs-4">
		    <label>Nombre:&nbsp;&nbsp;&nbsp;&nbsp;</label>
		    <input type="text" style="width: 70%" id="id_poligonal" value="{{obj_reg_pol.poligonal }}" maxlength="70" name="poligonal" class="form-control input-sm"  red=True />
		</div>
            </div>
	    <input id='user_update' type="hidden" name='user_update' value='{{ user.id }}'>
	    <input id='edit_user_create' type="hidden" name='user_create' value="{{obj_reg_pol.user_create.id }}">
	    <br/>
	    <br/>
	    <br/>
            <div class="row" style="text-align: center">
		<button type="button" id="volver" style="font-weight: bold;font-size: 13px" class="btn btn-warning " >
		    &nbsp;<span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Volver
		</button>
		<button type="submit" id="registrar" style="font-weight: bold;font-size: 13px" class="btn btn-primary"/>
		    &nbsp;<span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Guardar Cambios
		</button>
	    </div>
            <br/>
	</div>
    </form>
    {% else %}
    <p style="color: #FF0000; font-size: 18px">Disculpe No esta autorizado para esa área.</p>
    {% endifusergroup %}
</body>
</html>
{% endblock %}